<a href="https://colab.research.google.com/github/trvossler-max/Deep_Learning_Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [4]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

#### Optimization:
- Changing the bins to include T9 and T13

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T12', 'T2', 'T25', 'T14', 'T15', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

#### Optimization:
- Changing Classification bins to group all value counts less than 100 into the "other" category.

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x < 100]
classifications_to_replace = dict(classifications)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
final_application = pd.get_dummies(application_df)

final_application

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 52 columns]

In [9]:
# Split our preprocessed data into our features and target arrays
X = final_application.copy()
y = final_application["IS_SUCCESSFUL"].copy()
X = X.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

**Optimization:** Applying neural network model to new train/test data.

In [11]:
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="sigmoid", input_dim=51))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 416
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 477
Trainable params: 477
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6052 - accuracy: 0.6915
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5698 - accuracy: 0.7230
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7244
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.7246
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.7270
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5550 - accuracy: 0.7274
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7275
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5518 - accuracy: 0.7280
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7294
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7294
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7299
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7304
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7323
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7311
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7319
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7321
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7312
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7333
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7327
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7321
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7328
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7333
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7337
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7332
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7329
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7329
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7332
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7328
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7334
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7334
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7336
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7342
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7339
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7340
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7350
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7344
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7341
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7350
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7338
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7352
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7344
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7351
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7352
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7358
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7355
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7363
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7355
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7358
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7348
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7367
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7359
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7366
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7364
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7362
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7375
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7368
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7368
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7372
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7355
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7371
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7374
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7372
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7375
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7374
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7375
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7371

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5475 - accuracy: 0.7292
Loss: 0.5474571585655212, Accuracy: 0.7292128205299377

In [15]:
# Export our model to HDF5 file
nn_model.save('nn_model4')

INFO:tensorflow:Assets written to: nn_model4/assets

**Optimization:** Adding another hidden layer to the model to new train/test data.

In [16]:
nn_model2 = tf.keras.models.Sequential()

# First hidden layer
nn_model2.add(tf.keras.layers.Dense(units=25, activation="sigmoid", input_dim=51))

# Second hidden layer
nn_model2.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Third hidden layer
nn_model2.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model2.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 25)                1300
_________________________________________________________________
dense_4 (Dense)              (None, 20)                520
_________________________________________________________________
dense_5 (Dense)              (None, 10)                210
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 11
=================================================================
Total params: 2,041
Trainable params: 2,041
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
fit_model = nn_model2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5931 - accuracy: 0.6970
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7275
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5538 - accuracy: 0.7282
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7281
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7288
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7300
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7319
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7311
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7314
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7323
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7336
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7344
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7348
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7337
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7348
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7350
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7338
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7355
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7357
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7366
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7365
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7357
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7358
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7383
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7370
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7377
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7366
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7367
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7380
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7385
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7371
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7367
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7372
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7388
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7370
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7385
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7390
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7385
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7386
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7388
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7400
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7393
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7388
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7395
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7401
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7388
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7389
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7401
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7400

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5523 - accuracy: 0.7280
Loss: 0.552312433719635, Accuracy: 0.7280466556549072

In [22]:
# Export our model to HDF5 file
nn_model2.save('nn_model5')

INFO:tensorflow:Assets written to: nn_model5/assets