<a href="https://colab.research.google.com/github/trvossler-max/Deep_Learning_Challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

#### Optimization:
- Changing the bins to include T9 and T13

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T12', 'T2', 'T25', 'T14', 'T15', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

#### Optimization:
- Changing Classification bins to group all value counts less than 100 into the "other" category.

In [6]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x < 100]
classifications_to_replace = dict(classifications)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
final_application = pd.get_dummies(application_df)

final_application

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 52 columns]

In [8]:
# Split our preprocessed data into our features and target arrays
X = final_application.copy()
y = final_application["IS_SUCCESSFUL"].copy()
X = X.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

**Optimization:** Applying neural network model to new train/test data.

In [10]:
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="sigmoid", input_dim=51))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 416
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 477
Trainable params: 477
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [12]:
# train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6083 - accuracy: 0.6842
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5714 - accuracy: 0.7251
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5666 - accuracy: 0.7261
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7268
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7274
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7287
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5566 - accuracy: 0.7290
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5548 - accuracy: 0.7294
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7303
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7294
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7299
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7301
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7312
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7313
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7316
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7320
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7317
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7321
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7329
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7323
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7329
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7333
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7339
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7340
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7342
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7341
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7343
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7342
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7338
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7343
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7348
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7346
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7342
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7353
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7356
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7358
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7362
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7362
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7368
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7369
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7371
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7354
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7361
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7362
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7364
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7362
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7367
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7366
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7370
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7365
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7360
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7364
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7372
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7363
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7367
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7366
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7365
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7366
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7367
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7375
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7369

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5492 - accuracy: 0.7290
Loss: 0.5492112040519714, Accuracy: 0.7289795875549316

In [14]:
# Export our model to HDF5 file
nn_model.save('nn_model4')

INFO:tensorflow:Assets written to: nn_model4/assets

**Optimization:** Adding another hidden layer to the model to new train/test data.

In [15]:
nn_model2 = tf.keras.models.Sequential()

# First hidden layer
nn_model2.add(tf.keras.layers.Dense(units=8, activation="sigmoid", input_dim=51))

# Second hidden layer
nn_model2.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Third hidden layer
nn_model2.add(tf.keras.layers.Dense(units=4, activation="relu"))

# Output layer
nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model2.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 416
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_5 (Dense)              (None, 4)                 28
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 5
=================================================================
Total params: 503
Trainable params: 503
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn_model2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
fit_model = nn_model2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6330 - accuracy: 0.6674
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5852 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5757 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5715 - accuracy: 0.7287
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5660 - accuracy: 0.7293
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5637 - accuracy: 0.7291
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7297
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5572 - accuracy: 0.7306
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7312
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7304
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7318
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7310
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7312
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7325
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7315
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7317
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5508 - accuracy: 0.7318
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7320
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7327
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7324
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7322
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7322
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7319
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7333
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7330
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7321
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7325
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7319
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7340
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7332
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7327
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7330
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7318
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7348
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7338
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7339
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7338
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7330
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7342
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7345
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7340
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7350
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7347
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7356
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7343
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7345
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7335
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7348
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7347
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7346
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7346
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7346
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7358
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7351
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7355
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7348
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7348
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7350
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7355
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7353
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7356
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7352
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7359
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7361
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7352
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7356
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7359
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7352
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7364
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7365
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7361

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5494 - accuracy: 0.7296
Loss: 0.5493770241737366, Accuracy: 0.7295626997947693

In [19]:
# Export our model to HDF5 file
nn_model2.save('nn_model5')

INFO:tensorflow:Assets written to: nn_model5/assets